@import '../../styles/variables.scss';
@import '../../styles/mixin.scss';

.form {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;

    
    @include media($until: 'sm') {
        width: 210px;
    }

    @include media($from: 'sm') {
        width: 300px;
    }
}

.label {
    display: flex;
    flex-direction: column;

    margin-bottom: 1rem;

    font-size: 1.5rem;
    color: $page-bg-cl;
    transition: color 300ms linear;

    &:focus-within {
        color: $game-design-lines-cl;
    }
}

.input {
    display: block;
    margin-top: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;

    font-size: 1.5rem;

    outline: none;
    border: 1px solid;
    border-color: $page-bg-cl;

    transition: border-color 300ms linear;

    &:hover,
    &:focus {
        border-color: $game-design-lines-cl;
    }
}

.button {
    border: none;
    outline: none;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5rem;

    font-size: 1.5rem;

    background-color: $page-bg-cl;
    border-radius: 0.5rem;

    transition: background-color 300ms linear;

    &:hover,
    &:focus {
        background-color: $game-design-lines-cl;
    }
}