@import '../../styles/variables.scss';
@import '../../styles/mixin.scss';

.gameSection {
    position: relative;

    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: $board-max-width;

    background-color: $game-bg-cl;

    &:after {
        content: "";
        display: block;
        position: absolute;

        background-color: $game-winner-line;
        border-radius: 5px;
    }

    &.winner-pos-0::after,
    &.winner-pos-1::after,
    &.winner-pos-2::after {
        left: 4%;
        right: 4%;
        height: 4%;
    }

    &.winner-pos-0::after {
        top: 14%;
    }

    &.winner-pos-1::after {
        top: 48%
    }

    &.winner-pos-2::after {
        bottom: 14%
    }

    &.winner-pos-3::after,
    &.winner-pos-4::after,
    &.winner-pos-5::after {
        top: 4%;
        bottom: 4%;
        width: 2%;
    }

    &.winner-pos-3::after {
        left: 16%;
    }

    &.winner-pos-4::after {
        left: 50%;
        transform: translateX(-50%);
    }

    &.winner-pos-5::after {
        right: 16%;
    }

    &.winner-pos-6::after,
    &.winner-pos-7::after {
        top: 47%;
        right: -3%;
        left: -3%;
        height: 4%;
    }

    &.winner-pos-6::after {
        transform: rotate(33deg);
    }

    &.winner-pos-7::after {
        transform: rotate(-33deg);
    }
}

.gameCeil {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    flex-basis: calc(100% /3);

    height: 150px;

    color: $game-figure-cl;

    transition: background 300ms linear;

    @include media($until: 'sm') {
        max-height: 100px;
        height: 20vw;
    }

    &:after,
    &:before {
        content: "";
        display: block;
        position: absolute;

        border-radius: 5px;

        background-color: $game-design-lines-cl;
    }

    &:not(:nth-child(3n))::after {
        top: -4%;
        right: -1.5%;
        width: 5px;
        bottom: -4%;
    }

    &:not(:nth-child(-n+3))::before {
        top: -1.5%;
        right: -4%;
        left: -4%;
        height: 5px;
    }

    &:hover {
        cursor: pointer;
    }

    &.x,
    &.o {
        background-size: contain;
        background-position: top 50% left 58%;
        background-repeat: no-repeat;
        transition: background-image 300ms linear;
    }

    &.x {
        background-image: url('../../assets/x-symbol.png');
    }

    &.o {
        background-image: url('../../assets/o-symbol.png');
    }

}

.turnText {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: $text-cl;
    font-size: 1.5rem;
    width: 100%;
    margin: 0;
    text-align: center;

    @include media($until: 'sm') {
        font-size: 1rem;
        top: -1rem;
    }

    @include media($from: 'sm') {
        font-size: 1.5rem;
        top: -1.5rem;
    }
}