@import '../../styles/mixin.scss';
@import '../../styles/variables.scss';

.section {
    padding: 1.5rem;

    height: 100vh;
    background-color: $page-bg-cl;
}

.container {
    display: flex;

    max-width: 1280px;
    margin: 0 auto;

    @include media($until: 'xl') {
        flex-direction: column;
    }
}